@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');
@import 'reset';
@import 'components/button.scss';

// @import url('tiny-date-picker.min.css');
// @import url('date-range.picker.min.css');

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  font-family: 'Noto Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  display: grid;
  grid-template-rows: min-content auto min-content;
  background-color: var(--var-app-bkg-color);
  color: var(--var-text-default-color);
  fill: var(--var-text-default-color);

  * {
    transition: all 0.1s ease-out;
  }

  header {
    padding: 10px;
    background-color: var(--var-header-bkg-color);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content min-content;
    white-space: nowrap;
    align-items: center;
    gap: 20px;
    color: var(--var-text-default-color);

    h3 {
      font-size: 1.5rem;
      font-weight: 900;
      color: var(--var-primary-color);

      span {
        font-size: 1rem;
        font-weight: 100;
        color: var(--var-text-default-color);
      }
    }

    input {
      text-align: center;
    }
  }

  section.main {
    display: grid;
    grid-template-columns: 60% auto;
    column-gap: 2px;
    overflow: hidden;

    .col {
      padding: 10px;
      display: grid;
      grid-auto-flow: row;
      row-gap: 24px;
      overflow: auto;
      align-content: flex-start;

      h2 {
        font-size: 1.8rem;
        color: var(--var-secondary-color);
      }

      .stats {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .bignumber {
          font-size: 1.8rem;
          display: block;
          color: var(--var-secondary-color);
        }

        ez-account:nth-child(even)::part(account) {
          background-color: #29292930;
        }
      }
    }

    table {
      width: 100%;
      user-select: none;
      color: var(--var-text-default-color);

      &.focused {
        box-shadow: var(--var-accent-color) 0 0 8px 2px;
      }

      tr {
        &:nth-child(odd) td {
          background-color: var(--var-tablerow-odd-bkg-color);
        }

        &:nth-child(even) td {
          background-color: var(--var-tablerow-even-bkg-color);
        }

        &:hover td {
          background-color: var(--var-tablerow-hover-bkg-color);
        }

        & td,
        & th {
          border-bottom: solid 1px var(--var-black-70);
          border-right: solid 1px var(--var-white-50);
          padding: 4px 8px;
        }

        & th:nth-child(2),
        & th:nth-child(4) {
          width: 50%;
        }

        & th,
        & td:last-child {
          white-space: nowrap;
        }

        &.no-rows {
          text-align: center;
        }
      }

      thead th {
        background-color: var(--var-black);
        color: var(--var-white);
      }
    }
  }

  footer {
    background-color: var(--var-black-50);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 8px;

    .tools {
      padding: 8px 10px 0 8px;
    }

    @import 'tabs';
  }
}

dialog {
  border: solid 1px var(--var-black-90);
  background-color: var(--var-app-bkg-color);
  border-radius: 6px;
  padding: 0;
  user-select: none;
  outline: none;
  position: fixed;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: row;
  color: var(--var-text-default-color);
  font-size: 1rem;
  font-family: 'Noto Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  max-width: 60vw;
  min-width: 350px;
  box-shadow: var(--var-black-50) 0 0 16px 12px;

  &::backdrop {
    background: rgba(65, 83, 110, 0.7);
    backdrop-filter: blur(2px);
  }

  header {
    padding: 8px;
    background-color: var(--var-black);
    color: var(--var-white);
    font-size: 1.3rem;
  }

  .body {
    padding: 10px;
    display: grid;
    gap: 12px;
    grid-auto-flow: row;

    .block {
      display: grid;
      gap: 4px;

      input[type='text'],
      input[type='number'] {
        padding: 4px;
        border: solid 1px var(--var-black-90);
        border-radius: 4px;
      }
    }
  }

  footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    padding: 8px;
    gap: 6px;
    background-color: var(--var-header-bkg-color);
  }
}
