@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');
@import 'reset';

@import url('tiny-date-picker.min.css');
@import url('date-range.picker.min.css');

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  font-family: 'Noto Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  display: grid;
  grid-template-rows: min-content auto min-content;

  header {
    padding: 10px;
    background-color: #29292910;
  }

  section.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    overflow: hidden;

    .col {
      display: grid;
      grid-auto-flow: row;
      row-gap: 8px;
      overflow: auto;
    }

    table {
      width: 100%;
      user-select: none;

      &.focused {
        box-shadow: rgba(255, 128, 0, 0.5) 0 0 8px 2px;
      }

      tr {
        &:nth-child(odd) td {
          background-color: #29292910;
        }

        &:nth-child(even) td {
          background-color: #29292930;
        }

        & td,
        & th {
          border-bottom: solid 1px #29292950;
          border-right: solid 1px #fff;
          padding: 4px 8px;
        }

        & td:first-child {
          width: 100%;
        }

        & th,
        & td:last-child {
          white-space: nowrap;
        }
      }

      thead th {
        background-color: #292929;
        color: #eee;
      }

      &[name='tableIncome'] {
        tr {
        }
      }
    }
  }

  footer {
    padding: 10px;
    background-color: #29292950;
    display: grid;
    grid-template-columns: 1fr 1fr;

    ul {
      display: grid;
      grid-auto-flow: column;
      justify-items: center;
    }
  }
}
