@mixin basicColors {
  --var-white: #fff;
  --var-white-90: #ffffff90;
  --var-white-80: #ffffff80;
  --var-white-70: #ffffff70;
  --var-white-60: #ffffff60;
  --var-white-50: #ffffff50;
  --var-white-40: #ffffff40;
  --var-white-30: #ffffff30;
  --var-white-20: #ffffff20;
  --var-white-10: #ffffff10;

  --var-black: #292929;
  --var-black-90: #29292990;
  --var-black-80: #29292980;
  --var-black-70: #29292970;
  --var-black-60: #29292960;
  --var-black-50: #29292950;
  --var-black-40: #29292940;
  --var-black-30: #29292930;
  --var-black-20: #29292920;
  --var-black-10: #29292910;

  --var-red: #b71c1c;
  --var-green: #4caf50;
  --var-blue: #0d47a1;
  --var-purple: #4a148c;
  --var-pink: #880e4f;
  --var-cyan: #00bcd4;
  --var-teal: #009688;
  --var-lime: #9e9d24;
  --var-yellow: #fdd835;
  --var-orange: #f57c00;
  --var-brown: #4e342e;

  --var-blue-gray: #263238;
  --var-blue-gray-90: #26323890;
  --var-blue-gray-80: #26323880;
  --var-blue-gray-70: #26323870;
  --var-blue-gray-60: #26323860;
  --var-blue-gray-50: #26323850;
  --var-blue-gray-40: #26323840;
  --var-blue-gray-30: #26323830;
  --var-blue-gray-20: #26323820;
  --var-blue-gray-10: #26323810;
}
