.ez-floating-button {
  border-radius: 500px;
  border: solid 1px var(--var-btn-border-color);
  cursor: pointer;
  place-content: center;
  padding: 3px;
  background-color: var(--var-btn-default-bkg-color);
  transition: all 0.1s ease-out;
  font-size: 1rem;

  span {
    padding: 6px 10px;
    font-size: 1rem;
  }

  &.primary {
    background-color: var(--var-btn-primary-bkg-color);
    color: var(--var-white);
    fill: var(--var-white);
  }

  &.secondary {
    background-color: var(--var-btn-secondary-bkg-color);
  }

  &.danger {
    background-color: var(--var-red);
    color: var(--var-white);
    fill: var(--var-white);
  }

  &.full-length {
    width: 100%;
  }

  &:hover {
    box-shadow: var(--var-text-default-color) 0 0 1px 2px;
  }

  &:active {
    box-shadow: none;
    transform: translate(1px, 1px);
  }
}
