.ez-floating-button {
  border-radius: 500px;
  border: solid 1px var(--var-btn-border-color);
  cursor: pointer;
  place-content: center;
  padding: 3px;
  background-color: var(--var-btn-default-bkg-color);
  transition: all 0.3s ease-out;

  span {
    padding: 6px 10px;
    font-size: 1rem;
  }

  &.primary {
    background-color: var(--var-btn-primary-bkg-color);
    color: var(--var-white);
    fill: var(--var-white);
  }

  &.secondary {
    background-color: var(--var-btn-secondary-bkg-color);
  }

  &.danger {
    background-color: var(--var-red);
    color: var(--var-white);
    fill: var(--var-white);
  }

  &.full-length {
    width: 100%;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 12px 1px;
  }

  &:active {
    box-shadow: none;
    transform: translate(1px, 1px);
  }
}
